<div class="play-list-body">
  <ul class="play-list-table-header">
    <li (click)="changeSort('name')">Nombre ❤</li>
    <li (click)="changeSort('album')">álbum 🆗</li>
    <li>fecha incorporación 🍌😁</li>
    <li><i class="uil uil-clock-eight"></i></li>
  </ul>
  <ul class="play-list-rows" *ngFor="let track of tracks ">
    <li class="track-name">
      <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
    </li>
    <li class="track-name-opacity">
      {{track.album.nombre}}
    </li>
    <li class="track-name-opacity">
      {{track.fecha_lanzamiento| date: 'dd/MM/yyyy'}}
    </li>
    <li class="track-name-opacity">
      {{track.duracion}}
    </li>

  </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-track="track">


  <div class="cover-section">
    <div class="cover-container">
      <img class="cover-track" [src]="track.imagen" [alt]="track.nombre">
      <button class="play-button" (click)="getSong(track)">
        <i class="uil uil-play-circle"></i>
      </button>
    </div>
    <div class="cover-info">
      <div class="name-track">{{track.nombre}}</div>
      <div class="name-track-details">{{track.usuario.nombre}}</div>
    </div>
  </div>

</ng-template>