.tracks-page {
    padding: 1rem;
}
/* CSS */
.section {
  width: 100%;
  padding: 10px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 18px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 9px;
}
