.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
}

.header button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-1);
    cursor: pointer;
    color: white;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.play-list-body {
    padding: 1rem 2rem;
}

.play-list-table-header {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 0;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: solid 1px var(--color-2);
    padding-bottom: .5rem;
}

.play-list-table-header li {
    text-transform: uppercase;
    color: var(--color-4);
    opacity: .7;
}

.play-list-rows {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 1rem 0 0 0;
}

.play-list-rows .track-name-opacity {
    opacity: .7;
    font-weight: 300;
}