<div class="container">
    <div class="header">
        <h1>Generos</h1>
        <div class="buttons-header">
            <button (click)="handleOpenCreateGenreModalButton()" >
                Añadir Genero
            </button>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col col-1">
            <div class="list">
                <div class="play-list-body">
                    <ul class="play-list-table-header">
                        <li>Portada</li>
                        <li>Nombre</li>
                        <li> Acciones</li>
                        <!-- <li><i class="uil uil-clock-eight"></i></li> -->
                    </ul>
                    <ul class="play-list-rows" *ngFor="let genre of genres">
                        <li class="track-name-opacity">
                            <div class="cover-section">
                                <img appImgBroken class="cover-track" [src]="genre.imagen" [alt]="genre.nombre">
                            </div>
                        </li>
                        <li class="track-name-opacity">
                            {{genre.nombre}}
                        </li>
                        <li class="list-buttons">
                            <button class="button-view" (click)="viewGenre(genre.id)">
                                <i class="uil uil-eye"></i>
                            </button>
                            <button class="button-edit" (click)="editGenre(genre.id)">
                                <i class="uil uil-edit"> </i>
                            </button>
                            <button class="button-delete" (click)="deleteGenre(genre.id)">
                                <i class="uil uil-trash-alt"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col col-2">
            <section class="view-section">
                <div class="image">
                    <!-- if -->
                    <img *ngIf="genreToView" src="{{genreToView.imagen}}" alt="imagen">
                    <!-- else -->
                    <div *ngIf="!genreToView" class="image-placeholder flex flex-col">
                        <i class="uil uil-image"></i>
                        <span>Selecciona un genero para mostrar aqui</span>
                    </div>
                </div>
                <div class="foot-section">
                    <span>{{genreToView?.nombre}}</span>
                </div>
            </section>
        </div>
    </div>
    <app-modal-form *ngIf="genreToEdit"
        [data]="genreToEdit"
        [open]="!!genreToEdit"
        [buttonLabel]="'Actualizar'"
        (close)="genreToEdit = null"
        (create)="handleUpdateGenreForm($event)"
    />
    <!-- Otro componente o plantilla -->
    <app-modal-form *ngIf="openCreateGenreModal"
        [title]="'Añadir Genero'"
        [open]="openCreateGenreModal"
        (create)="handleSubmitCreateGenre($event)"
        (close)="openCreateGenreModal = false"
    />
</div>