<div>
  <div class="header">
    <h1>Canciones</h1>
  </div>
  <div class="">
    <div class="play-list-body">
      <ul class="play-list-table-header">
        <li>Nombre</li>
        <li>Artista</li>
        <li>Fecha Lanzamiento</li>
        <li>Genero</li>
        <li>Duracion</li>
        <li>Acciones</li>
      </ul>
      <ul class="play-list-rows" *ngFor="let song of songs">
        <li class="track-name-opacity">
          {{song.nombre}}
        </li>
        <li class="track-name-opacity">
          {{song.usuario.nombre + ' ' + song.usuario.apellido}}
        </li>
        <li class="track-name-opacity">
          {{song.fecha_lanzamiento}}
        </li>
        <li class="track-name-opacity">
          {{song.genero.nombre}}
        </li>
        <li class="track-name-opacity">
          {{song.duracion}}
        </li>
        <li class="track-name-opacity">
          <button class="btn btn-primary" (click)="ver(song.id)">Ver</button>
        </li>
      </ul>
    </div>
  </div>
</div>
